{% extends "base.html.twig" %}

{% block body %}
<div  id="main-container">
  <h1 class="page-title">{{'about'|trans}}</h1>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">

    <h2>Le projet PuppetPlays</h2>
    <br/>
    <p><i>PuppetPlays</i> est un projet de recherche sur les écritures théâtrales pour marionnettes dirigé par Didier Plassard, professeur en études théâtrales, et porté par l’Université Paul-Valéry – Montpellier 3. Lauréat de l’appel « Advanced Grant » 2018 du Conseil Européen de la Recherche (ERC), il est financé par l’Union Européenne dans le cadre du programme Horizon 2020 (ERC-GA 835193) pendant 5 ans (1er octobre 2019 – 30 septembre 2024).</p>

    <p>Les principaux objectifs de <i>PuppetPlays</i> sont de :</p>
    <ul>
        <li> rassembler un corpus représentatif de pièces pour marionnettes d’Europe de l’Ouest (Allemagne, Autriche, Belgique, Espagne, France, Grande-Bretagne, Italie, Pays-Bas, Portugal, Suisse), du 17e au 21e siècle ;</li>
        <li> identifier les caractéristiques d’une écriture théâtrale pour marionnettes selon les époques, les aires culturelles, les conditions de production et les types de public ;</li>
        <li> mettre en lumière l’apport de ces répertoires à la construction d’une identité culturelle européenne.</li>
    </ul>


    <p><i>PuppetPlays</i> a l’ambition de :</p>

    <ul>
        <li> contribuer au développement des humanités numériques en développant une plateforme Internet comportant une base de données, une anthologie de textes et de nombreuses ressources documentaires ou pédagogiques destinées notamment aux chercheurs, aux artistes, aux enseignants, aux étudiants....</li>
        <li> enrichir la recherche sur le domaine très peu connu des écritures pour marionnettes par la production d’un ouvrage de synthèse par Didier Plassard et l’organisation de deux colloques internationaux ;</li>
        <li> stimuler et accompagner les jeunes chercheurs dans ce domaine en attribuant deux bourses de thèse et plusieurs bourses de post-doctorat.</li>
    </ul>
    <br/>
    <hr/>
    <br/>

    <h3>Un répertoire invisible</h3>
    <br/>
    <p>Avez-vous déjà vu un spectacle de l’<i>Opera dei pupi</i>, les marionnettes traditionnelles de Sicile et de Naples ? Si c’est le cas, vous avez peut-être été surpris d’apprendre que la plupart des histoires racontées par les <i>pupari</i> (les marionnettistes) racontent les aventures de Charlemagne et de ses paladins, bien que la Sicile n’ait jamais fait partie de l’Empire Carolingien.</p>
    <p>Mais vous êtes-vous demandé comment les <i>pupari</i> pouvaient mémoriser ces histoires et les transmettre de génération en génération ? Certes, les dialogues étaient souvent improvisés pendant les représentations, mais les marionnettistes jouaient chaque jour un nouvel épisode de ces très longues épopées où s’entrecroisaient de multiples intrigues, et cela pendant plusieurs mois. C’est pourquoi ils consignaient par écrit au moins la structure narrative de ces cycles, leur division en épisodes, les changements de décors, et parfois aussi les rôles les plus importants.</p>
    <br/>
    <p>Comme plusieurs autres institutions siciliennes, le Museo Internazionale della Marionetta Antonio Pasqualino de Palerme conserve des douzaines de ces manuscrits, la plupart datant des premières décennies du 20e siècle. Ils étaient écrits sur le support le moins cher qu’on pouvait trouver : des cahiers d’écolier au papier de mauvaise qualité qui, en raison d’un taux élevé d’acidité, est devenu de plus en plus fragile avec le temps. Lorsque vous tournez les pages de ces cahiers, vous prenez le risque de les réduire en fragments, comme s’il s’agissait de rouleaux de papyrus de l’Égypte ancienne. Et n’espérez pas lire ces pièces ou ces canevas dans des livres : seul un très petit nombre d’entre eux ont été publiés par les historiens, et bien qu’on puisse trouver dans des mémoires universitaires ou des thèses la transcription de certaines représentations, la plupart de ces travaux académiques sont seulement dactylographiés : tout comme les manuscrits originaux, ils dorment sur les rayonnages des bibliothèques et presque personne ne vient les déranger.</p>
    <br/>
    <p>Cette situation est typique pour la plus grande part du répertoire des théâtres de marionnettes en Europe. Parce que les arts de la marionnette étaient surtout destinés au public populaire, puis au jeune public, les pièces étaient rarement publiées. Aussi sont-elles restées à l’écart de l’histoire de l’écriture dramatique, ou bien considérées comme une branche séparée et presque insignifiante de celle-ci.</p>
    <br/>
    <p>Les spécialistes du théâtre de marionnettes ne prêtent eux-mêmes que très peu d’attention aux questions dramaturgiques. Lorsque vous regardez les collections des musées, les expositions, les publications, le théâtre de marionnettes ressemble à une simple collection de poupées : des objets beaux ou émouvants, des chefs-d’œuvre de sculpture ou d’artisanat, sans aucune indication sur leur mode d’animation, sur les scènes où ils apparaissaient, ni surtout sur les pièces qu’ils représentaient. S’ils jouaient <i>Hamlet</i>, était-ce une parodie, une réduction, une réécriture ? Le texte était-il directement inspiré de la tragédie de Shakespeare, ou bien conservait-il certains aspects du <i>Fratricide puni</i>, ou <i>Le prince Hamlet de Danemark</i>, la pièce anonyme qui est sans doute la trace d’un « <i>Ur-Hamlet</i> » que les compagnies anglaises itinérantes représentaient dans les pays germaniques au 16e siècle? Dans plusieurs pays européens, les légendes de saint Antoine ou de Geneviève de Brabant comptaient parmi les plus grands succès du théâtre de marionnettes, mais personne n’a comparé leurs versions et nous ne savons pas où elles ont d’abord été représentées.</p>
    <p>Ceci n’est pas seulement dû au fait que de larges parts de ces répertoires sont anonymes ou bien ont été composées par les marionnettistes, parfois sous la forme de réductions ou d’adaptations de pièces pour acteurs, de romans, de contes ou de légendes, parfois sous celle d’histoires originales. Les pièces écrites par des écrivains reconnus sont aussi tenues à l’écart de l’histoire du théâtre et des éditions courantes de leurs oeuvres. En France, le <i>Théâtre complet de Goethe</i> dans la prestigieuse collection de la « Bibliothèque de la Pléiade » ne comporte pas <i>La Foire de Plundersweiler</i>, ni la <i>Pièce de Carnaval</i>, ni le fragment <i>Le Mariage de Hanswurst</i>. En Allemagne, la première édition chez Suhrkamp des pièces de Thomas Bernhard a dédaigné <i>La Montagne</i>, une pièce « pour marionnettes humaines ou pour humains-marionnettes » qui n’a été reprise que récemment, dans l’édition des <i>Œuvres complètes</i> de l’auteur. Et qui sait que l’auteur de théâtre le plus important au Portugal pendant le 18e siècle, Antonio José da Silva dit « le Juif », torturé, condamné à mort et brûlé par l’Inquisition, a écrit toutes ses comédies pour des marionnettes ? Qui sait que David Garrick, Gerhart Hauptmann, Edmond Rostand, Paul Claudel, Hugo von Hofmannsthal, Ernst Toller, Rafael Alberti, Italo Calvino ou Howard Barker ont écrit pour la marionnette ? Qui a déjà lu une analyse de ces œuvres ?</p>
    <br/>
    <p>Ce sont plusieurs milliers de pièces qui sont ainsi dispersés : Henryk Jurkowski, dans <i>Écrivains et marionnettes – Quatre siècles de littérature dramatique</i> (Institut International de la Marionnette, 1991), recensait déjà 500 pièces d’auteurs littéraires, tout en arrêtant son enquête vers 1930. Dans certaines collections comme celle du Musée Municipal de Munich, environ 1500 pièces manuscrites ou dactylographiées sont conservées.</p>
    <br/>
    <p>Mettre en lumière ce répertoire fragmenté et presque invisible est l’objectif principal de <i>PuppetPlays</i>.</p>
    <br/>
    <p>L'hypothèse de <i>Puppetplays</i> : L’hypothèse centrale de <i>PuppetPlays</i> est que le théâtre de marionnettes qui, aux 17e et 18e siècles, était essentiellement un dispositif permettant de contourner les interdictions auxquelles était soumis le théâtre d’acteurs, est devenu progressivement un médium théâtral spécifique. Il conserve des modes et des genres que le théâtre d’acteurs a délaissés, il donne vie à des personnages spécifiques profondément enracinés dans les identités locales et régionales, il explore des formes expérimentales d’écriture théâtrale. Prendre en compte les répertoires pour marionnettes dans l’histoire de la littérature dramatique peut ainsi conduire à certaines révisions de celle-ci : cela permettra d’introduire plus de diversité et de complexité dans la succession linéaire traditionnelle des poétiques (le Romantisme après le Classicisme, le Symbolisme après le Réalisme, le Post-modernisme après le Modernisme, etc.), laquelle ne reflète pas la variété des productions théâtrales à l’intérieur d’une même époque.</p>
    <br/>
    <p>La question d’une dramaturgie spécifique pour la marionnette se pose particulièrement si l’on examine les écritures théâtrales contemporaines. Pourquoi certains auteurs choisissent-ils de composer des pièces pour des marionnettes, des ombres et toutes sortes d’objets animés – parfois seuls interprètes sur la scène, parfois mêlées à des acteurs vivants ? Lorsque des marionnettistes leur passent commande du texte d’une nouvelle production, quel imaginaire spécifique de la marionnette ces auteurs développent-ils ? Il semble que l’introduction d’interprètes artificiels élargit la palette des possibilités dramaturgiques : l’écriture se trouve libérée des habitudes du réalisme et de la vraisemblance, bien sûr ; mais elle se trouve aussi conduite à parler de (ou à montrer) l’indicible : les explosions de violence, de cruauté (souvenons-nous du vieux scénario de Punch et Judy !) ou d’obscénité. Naissance, maladie, handicap, vieillesse, souffrance peuvent être représentés sur scène, avec empathie, mais sans les risques d’un pathétique forcé ou excessif. Parce qu’ils représentent l’humain sous l’aspect d’un objet, les arts de la marionnette sont sans doute l’instrument le mieux adapté pour raconter des histoires de déshumanisation et de réhumanisation : c’est, en tous les cas, l’une des principales hypothèses que <i>PuppetPlays</i> se propose de vérifier. </p>
    <br/>
    <hr/>
    <br/>
    <h3>La plateforme numérique</h3>
    <br/>
    <h5>Une plateforme multilingue <i>open source</i></h5>
    <br/>
    <p>Le projet PuppetPlays donnera lieu à la création d'une plateforme open source, construite en collaboration avec notre prestataire informatique, Intactile Design et hébergée par la <a href="https://www.huma-num.fr/">TGIR Huma-Num</a>. Tous les auteurs que nous référencerons ainsi que leurs œuvres seront répertoriés dans le catalogue <a href="https://puppetplays.www.univ-montp3.fr/fr/nos-partenaires">IdRef</a>.</p>
    <br/>
    <p>Le projet vise à rassembler une large sélection de pièces publiées ou inédites écrites en Europe de l’Ouest (Royaume-Uni, Irlande, France, Espagne, Portugal, Italie, Suisse, Autriche, Allemagne, Belgique, Pays-Bas) de 1600 à aujourd’hui ; il en référence <b>2000</b> d’entre elles dans une base de données renseignant  le titre d'une pièce, le nom de son auteur, ses dates (d'écriture, de publication ou de création), son genre, sa liste de personnages, la ou  les techniques d'animation qu'elle met en œuvre ainsi que les principaux procédés dramatiques qu'elle utilise, ses éditions (ou son lieu de conservation pour les manuscrits), accompagné d'un bref résumé de l’action dramatique et d'une notice de présentation.</p>
    <br/>
    <p><b>300</b> de ces pièces, particulièrement représentatives, inédites ou difficiles d’accès, seront mises à disposition dans anthologie numérique accessible gratuitement,  tout comme la base de données,  sur la plateforme en ligne <i>PuppetPlays</i>.</p>
    <br/>
    <p>Nous utilisons une méthode agile pour implémenter pas à pas les fonctionnalités et le design que nous avons imaginés pour nos usagers. En effet, les chercheurs de l’équipe se sont associés à des marionnettistes pour cerner avec précision les besoins et les usages potentiels de la future plateforme, pour la rendre accessible et simple à prendre en main. La <b>base de données</b> et <b>l’anthologie</b>, interrogeables à la fois via des mots-clés et via une carte interactive de l’Europe,  facilitent ainsi l’accès de toutes les ressources à tous les types d’usagers : chercheurs et étudiants de différentes disciplines, artistes et élèves des formations artistiques, enseignants, responsables et médiateurs culturels.</p>
    <br/>
    <p>A l’exemple de la Bibliothèque publique de New York qui a invité des usagers à participer, grâce à une interface dédiée, à la transcription de milliers de lettres échangées entre les soldats et leurs familles pendant la guerre de Sécession, <i>Puppetplays</i> prévoit de proposer à des <b>communautés d’usagers</b> d’aider à la transcription collaborative en ligne (<i>crowd-sourcing</i>) de pièces manuscrites. Pour ce faire, nous souhaitons développer une interface de transcription agréable dotée d'un contrôle automatisé : plusieurs personnes transcriront le même document et si les transcriptions sont identiques, le document sera validé. Le protocole de numérisation que nous avons mis en place nous permettra de mettre à disposition de cette communauté  des documents de qualité et de format uniformes pour en faciliter la transcription.</p>
    <br/>
    <p>La plateforme comportera aussi un dictionnaire des auteurs, des dossiers thématiques et quelques parcours pédagogiques, des images et des extraits vidéo, des enregistrements sonores de spectacles ainsi que toutes les productions scientifiques du programme (une monographie, deux thèses de doctorat, les actes de deux colloques internationaux, des articles).  Conformément aux recommandations de l’ERC, toutes les ressources de la plateforme seront <b>accessibles gratuitement</b>.</p>
    <br/>
    <p>Afin de toucher un large public international, la plateforme sera consultable en français, en anglais, en allemand et en italien. Toutes les pièces référencées dans la base de données seront notamment  décrites dans ces quatre langues. </p>
    <br/>
    <h5>En savoir plus...</h5>
    <p>La base de données <i>PuppetPlays</i> est disponible à cette adresse : <a href="https://puppetplays.eu">https://puppetplays.eu</a></p>
    <br/>
    <hr/>

    <h3>Les financeurs</h3>
    <style>.logo { height: 100px; }</style>
    <p class="text-center">
      <a class="btn btn" href="https://europa.eu/european-union/index_fr" target="_blank">
        <img class="logo" data-toggle="tooltip" title="Union Européenne" src="{{ asset('img/logos/logo-ue.png') }}"/>
      </a>
      <a class="btn btn" href="https://erc.europa.eu" target="_blank">
        <img class="logo" data-toggle="tooltip" title="ERC - Conseil de la recherche européenne : financeur principal" src="{{ asset('img/logos/logo-erc.png') }}"/>
      </a>
      <a class="btn btn" href="https://rirra21.www.univ-montp3.fr" target="_blank">
        <img class="logo" data-toggle="tooltip" title="Laboratoire du RIRRA 21" src="{{ asset('img/logos/logo-rir.png') }}"/>
      </a>
      <a class="btn btn" href="https://www.univ-montp3.fr" target="_blank">
        <img class="logo" data-toggle="tooltip" title="Université Paul Valéry Montpellier 3 - université d'accueil" src="{{ asset('img/logos/logo-upvm.png') }}"/>
      </a>
      <a class="btn btn" target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/litt-arts-arts-et-pratiques-du-texte-de-l-image-de-l-ecran-et-de-la-scene-62796.kjsp">
        <img class="logo" data-toggle="tooltip" title="Litt&Arts (UMR 5316) - Arts et pratiques du texte, de l'image, de l'écran et de la scène" src="{{ asset('img/logos/logo_littarts.png') }}"/>
      </a>
      <a class="btn btn" href="https://intactile.com" target="_blank">
        <img class="logo" data-toggle="tooltip" title="Intactile - prestataire" src="{{ asset('img/logos/logo-intactile.png') }}"/>
      </a>
      <a class="btn btn" href="https://www.huma-num.fr/" target="_blank">
        <img class="logo" data-toggle="tooltip" title="Huma-Num - Hébergeur" src="{{ asset('img/logos/logo_hn.jpg') }}"/>
      </a>
    </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
