{% extends "base.html.twig" %}

{% block body %}
  <div class="row">
    <div class="col-lg-12 col-sm-12 home-message-container">
      <h4>{{'home_title' | trans({}, 'messages')}}</h4>
      <hr/>
      <p>
        {{home_text | raw}}
      </p>
    </div>
  </div>
  <hr/>
  <div class="flex-tiles-container">
    {% for project in projects %}
      <div class="tile">
          <div class="tile-title">
            {{ project.name }}
          </div>
          <div class="tile-description">
            <a href="{{ path("project_display", {'id': project.id} )}}">Voir</a>
            <p>{{ project.shortDescription | raw }}</p>
          </div>
      </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="tile">
      <a href="{{ path("project_create") }}">Ajouter</a>
    </div>
    {% endif %}

  </div>


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/home.js') }}"></script>
{% endblock %}
