{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}

  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div id="home" class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-left">
              {{home_text | raw}}
          </div>
      </div>
      </div>
    </div>
  </div>

  <div id="main-container">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="card mb-3">
      <a class="btn btn-link" href="{{ path("project_create") }}"> <i class="fas fa-plus"></i> {{'add_project' | trans}}</a>
    </div>
    {% endif %}
    <div class="card-columns">
        {% for project in projectsUnarchived %}
        {{macros.displayProject(project)}}
      {% endfor %}
    </div>
    <h4 class="py-5">Projets archivés</h4>
    <div class="card-columns">
      {% for project in projectsArchived %}
        {{macros.displayProject(project)}}
      {% endfor %}
    </div>
  </div>
{% endblock %}
