{% extends "base.html.twig" %}

{% block body %}

  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div id="home" class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-left">
            <h4>{{'home_title' | trans({}, 'messages')}}</h4>
            <hr/>
            <p>
              {{home_text | raw}}
            </p>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="page-content-container">
    <div class="row">
      {% for project in projects %}
        <div class="col-2">
          <div class="project hover">
            <div class="project-tile-title transition">
              {{ project.name }}
            </div>
            <div class="project-tile-desc transition">
              <p>{{ project.description | truncate(20) | raw}}</p>
            </div>
            <div class="project-tile-action transition">
              <a href="{{ path("project_display", {'id': project.id} )}}" data-toggle="tooltip" title="{{'view_project' | trans}}"> <i class="fas fa-arrow-alt-circle-right "></i></a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if is_granted('ROLE_ADMIN') %}
      <div class="col-2">
        <div class="project">
          <div class="project-tile-title">
            <a data-toggle="tooltip" title="{{'add_project' | trans}}" href="{{ path("project_create") }}"> <i class="fas fa-plus"></i></a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/home.js') }}"></script>
{% endblock %}
