{% macro userSummary(user, full) %}
{% if user %}
<div class='row'>
  <div class="col-12">
    <div class="avatar-container">
      <div class="avatar-flip">
        {% set imgUrl = user.image ? 'user_images/' ~ user.image : 'img/avatar-placeholder_640.png'  %}
        <img src="{{asset(imgUrl)}}" height="150" width="150">
      </div>
      <div class="avatar-name">{{user.fullname}}</div>
      {% if user.publicmail %}
      <div class="avatar-email">{{ user.email }}</div>
      {% endif %}
      {% if full %}
        <div class="avatar-description">{{ user.description | raw }}</div>
      {% else %}
        <div class="text-right">
          <a data-placement="bottom" data-toggle="tooltip" title="{{ 'view_profile' | trans}}" href="{{ path("user_profile", {id: user.id})}}">
            <button type="button" class="btn btn-light">
              <i class="fas fa-eye"></i> 
            </button>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}
