{% extends "base.html.twig" %}
{% block body %}
{% include 'header.html.twig' with {'title' : 'register'} %}

<div id="main-container">
  <div class="row justify-content-center">
    <div class="col-6">
      {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.publicMail) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button class="btn btn-primary" type="submit">{{ 'submit' | trans({}, 'messages')}}</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
