{% extends "base.html.twig" %}
{% block body %}
<div class="container">
  {{ form_start(form) }}
    <input type="hidden" name="token" value="{{token}}">
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <button class="btn btn-primary" type="submit">{{ 'submit' | trans({}, 'messages')}}</button>
  {{ form_end(form) }}
</div>
{% endblock %}
