<!DOCTYPE html>

{% set platform = '' | getPlatformParams %}

<html lang="{{ app.request.locale|split('_')[0] }}">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        {{ platform.name  }}
      {% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
      <link rel="stylesheet" href="{{ asset('build/css/toastr.css') }}">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" data-toggle="tooltip" title="{{'home' | trans}}" href="{{ path('home') }}">
        {% if platform.logo %}
          <img class="platform-logo" src="{{ asset('platform/'~ platform.logo) }}">
        {% endif %}
        {{ platform.name  }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('home') }}">{{ 'home' | trans}}
              <span class="sr-only">(current)</span></a>
          </li>
          {% if is_granted('ROLE_ADMIN', app.user) %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('admin_user_list') }}">{{ 'administrate_users_menu' | trans}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('admin_platform_properties')}}">{{ 'administrate_platform_menu' | trans}}</a>
            </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav float-right">
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('user_profile', {'id': app.user.id}) }}" data-placement="bottom" data-toggle="tooltip" title="{{ 'view_profile' | trans}}">
                <i class="fas fa-user fa-fw"></i>{{app.user.fullname}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('logout') }}" data-placement="bottom" data-toggle="tooltip" title="{{ 'logout' | trans({}, 'messages')}}">
                <i class="fas fa-sign-out-alt fa-fw"></i>
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('user_login') }}" data-placement="bottom" data-toggle="tooltip" title="{{ 'login' | trans({}, 'messages')}}">
                <i class="fas fa-sign-out-alt fa-fw"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('user_register') }}" data-placement="bottom" data-toggle="tooltip" title="{{ 'register' | trans({}, 'messages')}}">
                <i class="fas fa-id-card fa-fw"></i>
              </a>
            </li>
          {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="invisible" id="flashes">
          <div class="flash" data-label="{{ label }}" data-message="{{ message|e('html_attr') }}"></div>
        </div>
      {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
  </div>

  <footer id="footer" class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">{{"backtotop"|trans}}</a> <br/>
        <a href="{{ path('terms') }}">{{"terms"|trans}}</a> <br/>
      </p>
      <p>
        <a class="btn" href=" http://univ-grenoble-alpes.fr" target="_blank">
          <img class="logo-bottom" data-toggle="tooltip" title="Université Grenoble Alpes" src="{{ asset('img/logos/logo_univ_grenoble_alpes.jpg') }}"/>
        </a>
        <a class="btn" href="http://www.cnrs.fr" target="_blank">
          <img class="logo-bottom" data-toggle="tooltip" title="CNRS Centre national de la recherche scientifique" src="{{ asset('img/logos/logo_cnrs.jpg') }}"/>
        </a>
        <a class="btn" target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/litt-arts-arts-et-pratiques-du-texte-de-l-image-de-l-ecran-et-de-la-scene-62796.kjsp">
          <img class="logo-bottom" data-toggle="tooltip" title="Litt&Arts (UMR 5316) - Arts et pratiques du texte, de l'image, de l'écran et de la scène" src="{{ asset('img/logos/logo_littarts.png') }}"/>
        </a>
        <a class="btn" href="https://demarreshs.hypotheses.org/" target="_blank">
          <img class="logo-bottom" data-toggle="tooltip" title="DémarreSHS!" src="{{ asset('img/logos/logo_demarre_shs.jpg') }}"/>
        </a>
      </p>
    </div>
  </footer>

  {% block javascripts %}
  <script src="{{ asset('build/manifest.js') }}"></script>
  <script src="{{ asset('build/vendor.js') }}"></script>
  <script src="{{ asset('build/js/app.js') }}"></script>
  {% endblock %}
</body>
</html>
