{% extends "base.html.twig" %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h4>{{'administrate_users_title' | trans}}</h4>
  </div>

</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{'userfullname' | trans}}</th>
      <th scope="col">{{'username' | trans}}</th>
      <th scope="col">{{'email' | trans}}</th>
      <th scope="col">{{'active' | trans}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th data-placement="bottom" data-toggle="tooltip" title="id" scope="row">{{user.id}}</th>
      <td>{{user.fullname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
        <input type="checkbox" class="checkbox user-active-chk" name="user_active" {% if user.active is same as(true) %}checked{% endif %}> </input></td>
      <td>
        <div class="btn-group">
          <a href="#" class="btn btn-link">edit</a>
          <a href="#" class="btn btn-link">delete</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/user-list.js') }}"></script>

{% endblock %}
