{% extends "base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{ asset('build/css/user.css') }}">
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h4>{{'administrate_users_title' | trans}}</h4>
  </div>
</div>
<hr/>

<div class="row">
  <div class="col-md-12">
    <input type="text" class="form-control search-input" name="" value=""></input>
  </div>
</div>
<hr/>

<table class="table table-striped user-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{'userfullname' | trans}}</th>
      <th scope="col">{{'username' | trans}}</th>
      <th scope="col">{{'email' | trans}}</th>
      <th scope="col">{{'user_is_active' | trans}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/user-list.js') }}"></script>
{% endblock %}
