{% import "media/macros.html.twig" as macros %}

{% set transcriptionStatus = media.transcription|transcriptionStatus %}

<div class="row">
  <div class="col">
    {{ macros.backToParentDir(media)}}
    {{ review == true ? 'reread_transcription'|trans:'transcript_media'|trans}} <span class="text-muted">{{media.name}}</span>
    {{ include('media/status.html.twig') }}
  </div>

  <div class="col text-right">
    {% if edit is defined and edit == true and review == false %}
      <span data-intro="{{'help6'|trans}}" data-step="6">
        <button class="btn btn-outline-secondary btn-save-transcription" data-id="{{media.id}}">
          <i class="fas fa-save"></i> {{'save' | trans}}
        </button>
        <button class="btn btn-outline-secondary btn-validation-modal" data-pid="{{project.id}}" data-id="{{media.id}}" type="button" name="button">
          <i class="fas fa-check-circle"></i> {{'transcription_send_to_validation' | trans}}
        </button>
      </span>
    {% elseif locked is defined and locked == true and edit == false %}
        <span class="badge badge-danger">{{'transcription_is_locked' | trans}}</span>
    {% endif %}

    {% if project | isAuthorizedOnProject('register') %}
      <a class="btn btn-link" href="{{ path('status_request', {id:  project.id})}}" data-toggle="tooltip" title="{{'project_register' | trans}}">
        <i class="fas fa-hand-holding-heart fa-fw" aria-hidden="true"></i>
      </a>
    {% endif %}

    {% if review == true %}
      <span class="badge badge-info">
        {{'transcription_current_nb_validations' | trans({'%1%': nbCurrentValidation, '%2%': project.nbValidation})}}
      </span>
      {% if edit %}
        <button class="btn btn-outline-secondary btn-save-transcription" data-id="{{media.id}}">
          <i class="fas fa-save"></i> {{'save' | trans}}
        </button>
      {% endif %}
        <button data-toggle="modal" data-target="#validation-modal" class="btn btn-outline-secondary" >
          <i class="fas fa-glasses"></i> {{'review_transcription' | trans}}
        </button>
    {% endif %}

    {% if project | isAuthorizedOnProject('editProject') %}
      {% if media.transcription.isValid %}
        <a class="btn btn-outline-secondary" href="{{ path('media_transcription_validate', {id:  media.id, valid: 0})}}" data-toggle="tooltip" title="{{'transcription_unvalidate' | trans}}" >
          <i class="fas fa-poo" aria-hidden="true"></i>
        </a>
      {% else %}
      <a class="btn btn-outline-secondary" href="{{ path('media_transcription_validate', {id:  media.id, valid: 1})}}" data-toggle="tooltip" title="{{'transcription_validate' | trans}}">
        <i class="fas fa-thumbs-up"></i>
      </a>
      {% endif %}
    {% endif %}

    <span data-toggle="tooltip" title="{{'report_transcription'|trans}}">
      <button class="btn btn-outline-secondary" data-toggle="modal" type="button" data-target="#report-modal">
        <i class="fas fa-exclamation-triangle"></i>
      </button>
    </span>

  </div>
</div>
