{% import "media/macros.html.twig" as macros %}

{% if not displayAll %}
  {{ include('media/media-breadcrumb.html.twig', { 'project': project, 'parent': parent, 'from': from }) }}
{% endif %}

<div class='row mb-3'>
  <div class="col-12">
    <form class="form-inline" role="form" onkeypress="return event.keyCode != 13;">
      <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary active media-filter-clear">
          <input type="radio" name="options" id="option0" checked>
          <i class="fas fa-eraser"></i>
        </label>
        <label class="btn btn-outline-danger media-filter" data-status="none">
          <input type="radio" name="options" id="option1"> {{'transcription_status_none'|trans}}
        </label>
        <label class="btn btn-outline-warning media-filter" data-status="in-progress">
          <input type="radio" name="options" id="option2"> {{'transcription_status_in_progress'|trans}}
        </label>
        <label class="btn btn-outline-info media-filter" data-status="in-reread">
          <input type="radio" name="options" id="option3"> {{'transcription_status_in_reread'|trans}}
        </label>
        <label class="btn btn-outline-success media-filter" data-status="validated">
          <input type="radio" name="options" id="option4"> {{'transcription_status_validated'|trans}}
        </label>
        <label class="btn btn-outline-secondary media-filter" data-status="mine">
          <input type="radio" name="options" id="option5"> {{'transcription_mine'|trans}}
        </label>
      </div>
      <div class="mx-3 input-group input-group-sm">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-filter"></i>
          </div>
        </div>
        <input id="text-filter-media" class="form-control" type="text" value=""/>
      </div>
      <div class="input-group input-group-sm">
        <a class="btn btn-sm btn-secondary" href="{{ path('project_transcriptions', {'id': project.id, 'all': not displayAll }) }}">
          {{ displayAll ? "toggle_tree"|trans : "toggle_untree"|trans}}
        </a>
      </div>
    </form>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container-fluid">
    <div class="row">

      {# AFFICHAGE DES DOSSIERS #}
      {% if not displayAll %}
        {% for dir in project.dirs if dir.parent == parent %}
          {% set childrenCount = dir.children|length %}
          {% set mediaCount = dir.medias|length %}
          {% if childrenCount > 0 or mediaCount > 0 %}
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
            <a href="{{(from == 'transcript') ? path('project_transcriptions', {id: project.id, parent: dir.id}) : path('project_media', {id: project.id, parent: dir.id})}}" class="card-link text-dark">
              <div class="card project-directory-card mb-2">
                <div class="project-directory card-img-top">
                  <i class="far fa-folder-open fa-4x "></i>
                </div>
                <div class="card-body text-center">
                    {{ dir.name }}
                </div>
              </div>
            </a>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% set canTranscribe = project | isAuthorizedOnProject('transcribe') %}
      {% set canValidate = project | isAuthorizedOnProject('validateTranscription') %}
      {% set lastParent = null %}
      {% set lastPathMedia = null %}

      {# AFFICHAGE DES MEDIAS #}
      {% for media in medias %}
        {% set transcription = media.transcription %}
        {% set transcriptionStatus = transcription|transcriptionStatus %}
        {% set inMine = (media in mine) ? true : false %}
        {% set isLocked = (media in transcriptionsLocked) ? true : false %}
        {% set pathMedia = "" %}
        {% if displayAll %}
          {% if lastParent ==  media.parent %}
            {% set pathMedia = lastPathMedia %}
          {% else %}
            {% set ancestors =  media.parent | mediaBreadcrumb %}
            {% for ancestor in ancestors %}
              {% set pathMedia = pathMedia ~ ancestor.name ~ "/" %}
            {% endfor %}
          {% endif %}
          {% set lastParent = media.parent %}
          {% set lastPathMedia = pathMedia %}
        {% endif %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
          <div class="card project-directory-card mb-2 status {{ transcriptionStatus }} {{ inMine ? "mine"}}" data-name="{{ pathMedia ~ media.name }}">
            <img loading="lazy" class="project-image card-img-top" src="{{ macros.mediaThumbnailURL(media) }}" data-full="{{ macros.mediaURL(media) }}" />
            <div class="card-body p-2 border-top">
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  {# display #}
                  <a data-toggle="tooltip" title="{{'media_view_transcription_button_title'| trans}}" href="{{path('media_transcription_display', {'id': media.id})}}" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-eye"></i>
                  </a>
                  {# transcribe #}
                  {% if not isLocked and canTranscribe and (transcriptionStatus == "none" or transcriptionStatus == "in-progress") %}
                  <a data-toggle="tooltip" title="{{'media_transcribe_button_title' | trans}}" href="{{path('media_transcription_edit', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  {% endif %}
                  {# review #}
                  {% if canValidate and transcriptionStatus == "in-reread" %}
                    <a data-toggle="tooltip" title="{{'media_reread_button_title' | trans}}" href="{{path('media_transcription_review', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary">
                      <i class="fas fa-edit"></i>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                <div>{{ pathMedia ~ media.name }}</div>
                <div>
                {{ include('media/status.html.twig') }}
                {% if isLocked %}
                  <span class="badge badge-dark">{{"transcription_locked"|trans}}</span>
                {% endif %}
                {% if inMine %}
                  <span class="badge badge-secondary">{{"transcription_mine"|trans}}</span>
                {% endif %}
                </div>
              </small>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if project.medias | length == 0  %}
      <div class="col-12 text-center">
        <h5>{{'project_media_no_media' | trans}}</h5>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{# media modal #}
<div class="modal fade project-media-modal" id="project-media-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>
