{% import "media/macros.html.twig" as macros %}

<div class="row">
  {# project tree col #}
  <div class="col-3 project-tree-col">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="action-bar">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="text-dark" href="{{ path('project_media', {id: project.id}) }}">
                <i class="fas fa-home fa-fw"></i>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item float-right">
              <div class="btn-group">
                <button class="btn btn-link btn-add-dir" type="button" role="button"><i class="fas fas fa-plus"></i></button>
                <form id="move-folder-form" name="move-folder-form" action="{{path('project_move_folders', {'id': project.id})}}" method="post">
                  <button class="btn btn-link btn-move-dir" disabled type="button" role="button"><i class="fas fa-arrows-alt-v"></i></button>
                </form>
                <form id="delete-folder-form" name="delete-folder-form" action="{{path('project_delete_folders', {'id': project.id})}}" method="post">
                  <button class="btn btn-link btn-del-dir" disabled type="button" role="button"><i class="fas fa-trash"></i></button>
                </form>
              </div>
            </li>
          </ul>
        </div>
    </nav>
    <ul class="list-group list-group-flush">
      {% for dir in project.dirs if dir.parent is null %}
        {{macros.projectTree(dir, project, current)}}
      {% endfor %}
    </ul>
  </div>
  {# selected tree media col #}
  <div class="col-9">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="action-bar">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item float-right">
              <div class="btn-group images-actions">
                <button data-state="check" data-toggle="tooltip" title="{{'toggle_all_media_selection' | trans}}" class="btn btn-link toggle-select-all-media" type="button" role="button"><i class="fas fas fa-list-alt"></i></button>
                <button data-toggle="tooltip" title="{{'move_media' | trans}}" class="btn btn-link move-media" disabled type="button" role="button"><i class="fas fas fa-arrows-alt-v"></i></button>
                <button data-toggle="tooltip" title="{{'delete_media' | trans}}" class="btn btn-link delete-media" disabled type="button" role="button"><i class="fas fa-trash"></i></button>
              </div>
            </li>
          </ul>
        </div>
    </nav>

    <div class="row media-list-row">
        {# display directories for current dir #}
        {% for dir in project.dirs if dir.parent == current %}
        <div class="col-2">
          <div class="card mb-2 box-shadow">
            <div class="card-body">
              <a class="text-dark" href="{{ path('project_media', {id: project.id, current: dir.id}) }}">
                <i class="fas fa-folder fa-fw"></i>{{dir.name}}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}

      {# display medias for current dir #}
      {% set nbMediasForCurrentDir = -1 %}
      {% for media in project.medias if media.parent == current %}
        <div id="img-col-{{media.id}}" class="col-2">
          <div class="card mb-2 box-shadow">
            <img data-toggle="tooltip" title="{{media.name}}" class="card-img-top project-image" src="{{ macros.mediaThumbnailURL(media) }}" alt="" data-full="{{ macros.mediaURL(media) }}"></img>
            <div class="card-footer text-center">
              <div class="form-check">
                <input type="checkbox" name="image-select" data-id="{{media.id}}" class="form-check-input image-select">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
        </div>
        {% set nbMediasForCurrentDir = loop.index %}
      {% endfor %}

      {% if project.medias is empty and project.dirs is empty %}
        <div class="col-12 text-center">
          <h5>{{'project_media_no_media' | trans}}</h5>
        </div>
      {% endif %}

      {% if current != null and current.children is empty and nbMediasForCurrentDir == -1  %}
      <div class="col-12 text-center">
        <h5>{{'project_media_no_media_in_current_dir' | trans}}</h5>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{# delete project media confirm modal #}
<div class="modal fade delete-project-media-confirm-modal" id="delete-project-media-modal" tabindex="-1" role="dialog" aria-labelledby="deleteMediaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMediaModalLabel">{{'confirm_title'| trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>{{'confirm_delete_project_media' | trans}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
        <button type="button" data-action="confirm" data-pid="{{project.id}}" data-dismiss="modal" class="btn btn-danger delete-media-confirm-button">{{'confirm' | trans}}</button>
      </div>
    </div>
  </div>
</div>

{# delete project folders confirm modal #}
<div class="modal fade delete-project-folders-confirm-modal" id="delete-project-media-modal" tabindex="-1" role="dialog" aria-labelledby="deleteFoldersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteFoldersModalLabel">{{'confirm_title'| trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>{{'confirm_delete_project_folders' | trans}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
        <button type="button" data-action="confirm" data-dismiss="modal" class="btn btn-danger delete-folders-confirm-button">{{'confirm' | trans}}</button>
      </div>
    </div>
  </div>
</div>

{# move project media confirm modal #}
<div class="modal fade move-project-media-modal" id="move-project-media-modal" tabindex="-1" role="dialog" aria-labelledby="moveMediaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="moveMediaModalLabel">{{'media_change_directory_title'| trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select name="folder" class="form-control select-folder">
              <option value="-1">{{'root_directory_option'| trans}}</option>
              {% for dir in project.dirs if dir != current %}
                <option value="{{dir.id}}">{{dir.name}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
          <button type="button" data-action="confirm" data-pid="{{project.id}}" data-dismiss="modal" class="btn btn-danger move-media-confirm-button">{{'confirm' | trans}}</button>
        </div>
    </div>
  </div>
</div>

{# add directory modal #}
<div class="modal fade add-dir-modal" id="add-dir-modal" tabindex="-1" role="dialog" aria-labelledby="addDirModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="{{path('project_add_folder', {'id':project.id})}}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="addDirModalLabel">{{'add_directory_modal_title'| trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="inputName">{{'folder_name' | trans}}</label>
            <input type="text" name="folderName" required class="form-control" id="inputName" placeholder="Nom du dossier">
          </div>
          <div class="form-group">
            <label for="parent-folder">{{'parent_folder_name' | trans}}</label>
            <select id="parent-folder" name="parent" class="form-control">
              <option value="-1">{{'root_directory_option'| trans}}</option>
              {% for dir in project.dirs %}
                <option value="{{dir.id}}">{{dir.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
          <button type="submit" class="btn btn-primary">{{'add' | trans}}</button>
        </div>
      </form>
    </div>
  </div>
</div>


{# move project folder confirm modal #}
<div class="modal fade move-project-folder-modal" id="move-project-folder-modal" tabindex="-1" role="dialog" aria-labelledby="moveFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="moveFolderModalLabel">{{'project_move_directory_title'| trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select name="folder" class="form-control select-folder">
              <option value="-1">{{'root_directory_option'| trans}}</option>
              {% for dir in project.dirs if dir != current %}
                <option value="{{dir.id}}">{{dir.name}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
          <button type="button" data-action="confirm" data-dismiss="modal" class="btn btn-danger move-dir-confirm-button">{{'confirm' | trans}}</button>
        </div>
    </div>
  </div>
</div>

{# show media full size modal #}
<div class="modal fade project-media-modal" id="project-media-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>
