{% import "media/macros.html.twig" as macros %}

<div class="album py-5 bg-light">
  <div class="container-fluid">
    <div class="row">

      {% for dir in project.dirs if dir.parent == parent %}
      <div class="col-2">
        <div class="card mb-2">
          <div class="card-body">
            <i class="fas fa-folder"></i>
            <a href="{{ path('project_media', {id: project.id, parent: dir.id}) }}" class="card-link">
              {{ dir.name }}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

      {# for media in project.medias if media.parent and media.parent == parent #}
      {% for media in project.medias %}
        <div class="col-2">
          <div class="card mb-2 box-shadow {{media | transcriptionStatusClass}}">
            <img data-toggle="tooltip" title="{{media.name}}" class="card-img-top project-image" src="{{ macros.mediaURL(media) }}" alt=""></img>
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <a data-toggle="tooltip" title="{{'media_view_transcription_button_title' | trans}}" href="{{path('media_transcription_display', {'id': media.id})}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-eye"></i></a>
                  {% if project | isAuthorizedOnProject('transcribe') %}
                    {% if media | isTranscribable %}
                      <a data-toggle="tooltip" title="{{'media_transcribe_button_title' | trans}}" href="{{path('media_transcription_edit', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pencil-alt"></i></a>
                    {% elseif media | isInReread %}
                      <a data-toggle="tooltip" title="{{'media_reread_button_title' | trans}}" href="{{path('media_transcription_reread', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    {% if project | isAuthorizedOnProject('manageMedia') %}
                      <button type="button" data-toggle="tooltip" title="{{'media_delete_button_title' | trans}}" data-id="{{media.id}}" role="button" class="btn btn-sm btn-outline-secondary delete-image"><i class="fas fa-trash"></i></button>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if project.medias | length == 0  %}
      <div class="col-12 text-center">
        <h5>{{'project_media_no_media' | trans}}</h5>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{# delete project media confirm modal #}
<div class="modal fade delete-project-media-confirm-modal" id="delete-project-media-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'confirm_title'| trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>{{'confirm_delete_project_media' | trans}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
        <button type="button" data-action="confirm" data-dismiss="modal" class="btn btn-danger delete-media-confirm-button">{{'confirm' | trans}}</button>
      </div>
    </div>
  </div>
</div>

{# media modal #}
<div class="modal fade project-media-modal" id="project-media-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>
