<div class="d-flex align-content-stretch justify-content-center flex-wrap">
  {% for media in project.medias %}
    <div class="p2 d-flex flex-column align-self-center image-container">
      <div class="p2">
        <span class="badge badge-info">{{media.transcription and media.transcription.status ? media.transcription.status.name | trans({}, 'fixtures') : 'transcription_status_none' | trans({}, 'fixtures')}}</span>
        <hr/>
      </div>
      <div class="p2 d-flex align-self-center">
          <img class="project-image" src="{{asset('project_files/' ~ project.name ~ '/' ~ media.url)}}" alt=""></img>
          <div class="p2 d-flex flex-column">
            {% if not media.transcription or media.transcription.status.name == constant('App\\Service\\AppEnums::TRANSCRIPTION_STATUS_NONE') or  media.transcription.status.name == constant('App\\Service\\AppEnums::TRANSCRIPTION_STATUS_IN_PROGRESS') %}
              <a href="{{path('media_transcription_display', {'id': media.id})}}" class="btn btn-link"><i class="fas fa-pencil-alt"></i></a>
            {% elseif media.transcription and media.transcription.status.name == constant('App\\Service\\AppEnums::TRANSCRIPTION_STATUS_IN_REREAD') %}
              <a href="#" class="btn btn-link"><i class="fas fa-edit"></i></a>
            {% endif %}
            <button type="button" data-id="{{media.id}}" role="button" class="btn btn-link delete-image"><i class="fas fa-trash"></i></button>
          </div>

      </div>
    </div>
  {% endfor %}
  {% if project.medias | length == 0 %}
    <h5>{{'project_media_no_media' | trans}}</h5>
  {% endif %}
</div>
