{% import "media/macros.html.twig" as macros %}

{{ include('media/media-breadcrumb.html.twig', { 'project': project, 'parent': parent, 'from': from }) }}

<div class='row mb-3'>
  <div class="col-12">
    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-secondary active media-filter-clear">
        <input type="radio" name="options" id="option0" checked>
        <i class="fas fa-eraser"></i>
      </label>
      <label class="btn btn-outline-danger media-filter" data-status="none">
        <input type="radio" name="options" id="option1"> {{'transcription_status_none'|trans({},"fixtures")}}
      </label>
      <label class="btn btn-outline-warning media-filter" data-status="in-progress">
        <input type="radio" name="options" id="option2"> {{'transcription_status_in_progress'|trans({},"fixtures")}}
      </label>
      <label class="btn btn-outline-info media-filter" data-status="in-reread">
        <input type="radio" name="options" id="option3"> {{'transcription_status_in_reread'|trans({},"fixtures")}}
      </label>
      <label class="btn btn-outline-success media-filter" data-status="validated">
        <input type="radio" name="options" id="option4"> {{'transcription_status_validated'|trans({},"fixtures")}}
      </label>
    </div>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container-fluid">
    <div class="row">
      {% for dir in project.dirs if dir.parent == parent %}
        <div class="col-2">
          <div class="card mb-2">
            <div class="card-body">
              <i class="fas fa-folder"></i>
              <a href="{{ from == 'transcript' ? path('project_transcriptions', {id: project.id, parent: dir.id}) : path('project_media', {id: project.id, parent: dir.id}) }}" class="card-link">
                {{ dir.name }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}

      {% set canTranscribe = project | isAuthorizedOnProject('transcribe') %}
      {% set canValidate = project | isAuthorizedOnProject('validateTranscription') %}

      {% for media in project.medias if media.parent == parent %}
        {% set transcription = media.transcription %}
        {% set transcriptionStatus = transcription|transcriptionStatus %}
        <div class="col-2">
          <div class="card mb-2 box-shadow status {{ transcriptionStatus }}">
            <img data-toggle="tooltip" title="{{media.name}}" class="card-img-top project-image" src="{{ macros.mediaThumbnailURL(media) }}" alt="" data-full="{{ macros.mediaURL(media) }}" />
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  {# display #}
                  {% if transcriptionStatus != "none" %}
                  <a data-toggle="tooltip" title="{{'media_view_transcription_button_title'| trans}}" href="{{path('media_transcription_display', {'id': media.id})}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-eye"></i></a>
                  {% endif %}
                  {# transcribe #}
                  {% if canTranscribe and (transcriptionStatus == "none" or transcriptionStatus == "in-progress") %}
                  <a data-toggle="tooltip" title="{{'media_transcribe_button_title' | trans}}" href="{{path('media_transcription_edit', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pencil-alt"></i></a>
                  {% endif %}
                  {# review #}
                  {% if canValidate and transcriptionStatus == "in-reread" %}
                    <a data-toggle="tooltip" title="{{'media_reread_button_title' | trans}}" href="{{path('media_transcription_review', {'id': media.id,})}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-edit"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if project.medias | length == 0  %}
      <div class="col-12 text-center">
        <h5>{{'project_media_no_media' | trans}}</h5>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{# delete project media confirm modal #}
<div class="modal fade delete-project-media-confirm-modal" id="delete-project-media-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'confirm_title'| trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>{{'confirm_delete_project_media' | trans}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
        <button type="button" data-action="confirm" data-dismiss="modal" class="btn btn-danger delete-media-confirm-button">{{'confirm' | trans}}</button>
      </div>
    </div>
  </div>
</div>

{# media modal #}
<div class="modal fade project-media-modal" id="project-media-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>
