<div class="d-flex align-content-stretch justify-content-between flex-wrap">
  {% for media in project.medias %}
    <div class="p2 d-flex flex-column align-self-center image-container">
      <div class="p2">
        <div>
          {{media.name}}
        </div>
        <hr/>
        <div class="{{media | transcriptionStatusClass}}">
          {{media.transcription and media.transcription.status ? media.transcription.status.name | trans({}, 'fixtures') : constant('App\\Service\\AppEnums::TRANSCRIPTION_STATUS_NONE') | trans({}, 'fixtures')}}
        </div>
        <hr/>
      </div>
      <div class="p2 d-flex align-self-center">
          <a href="{{path('media_transcription_display', {'id': media.id})}}">
          <img class="project-image" src="{{asset('project_files/' ~ project.id ~ '/' ~ media.url)}}" alt=""></img>
          </a>
          <div class="p2 d-flex flex-column">

            {% if project | isAuthorizedOnProject('transcribe') %}
              {% if media | isTranscribable %}
                <a data-toggle="tooltip" title="{{'media_transcribe_button_title' | trans}}" href="{{path('media_transcription_edit', {'id': media.id,})}}" class="btn btn-link"><i class="fas fa-pencil-alt"></i></a>
              {% elseif media | isInReread %}
                <a data-toggle="tooltip" title="{{'media_reread_button_title' | trans}}" href="#" class="btn btn-link"><i class="fas fa-edit"></i></a>
              {% endif %}
              {% if project | isAuthorizedOnProject('manageMedia') %}
              <button type="button" data-toggle="tooltip" title="{{'media_delete_button_title' | trans}}" data-id="{{media.id}}" role="button" class="btn btn-link delete-image"><i class="fas fa-trash"></i></button>
              {% endif %}
            {% endif %}
          </div>
      </div>
    </div>
  {% endfor %}
  {% if project.medias | length == 0 %}
    <h5>{{'project_media_no_media' | trans}}</h5>
  {% endif %}
</div>

{# delete project media confirm modal #}
<div class="modal fade delete-project-media-confirm-modal" id="delete-project-media-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'confirm_title'| trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>{{'confirm_delete_project_media' | trans}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
        <button type="button" data-action="confirm" data-dismiss="modal" class="btn btn-danger delete-media-confirm-button">{{'confirm' | trans}}</button>
      </div>
    </div>
  </div>
</div>
