{% import "media/macros.html.twig" as macros %}

<div class="openseadragon-buttons text-center" data-intro="{{'help3'|trans}}" data-step="3">
  <button id="osd-zoom-in" type="button" class="btn btn-light">
    <i class="fas fa-search-plus"></i>
  </button>
  <button id="osd-zoom-out" type="button" class="btn btn-light">
    <i class="fas fa-search-minus"></i>
  </button>
  <button id="osd-left" type="button" class="btn btn-light">
    <i class="fas fa-undo"></i>
  </button>
  <button id="osd-right" type="button" class="btn btn-light">
    <i class="fas fa-redo"></i>
  </button>
  <button id="test-osd-previous" data-id="{{media.id}}" type="button" class="ml-2 btn btn-light">
    <i class="fa fa-angle-double-left"></i>
  </button>
  <button id="test-osd-home" data-id="{{media.id}}" type="button" class="btn btn-light">
    <i class="fas fa-home"></i>
  </button>
  <button id="test-osd-next" data-id="{{media.id}}" type="button" class="btn btn-light">
    <i class="fa fa-angle-double-right"></i>
  </button>
  <div id="warning-media-changed" class="d-none mt-2 alert alert-warning">{{"warning_media_changed"|trans}}</div>
</div>
<div data-url="{{ macros.mediaURL(media) }}" id="seadragon-viewer" class="rounded"></div>
