{% extends "base.html.twig" %}

{% block body %}
  {% set project = media.project %}
  {% include 'project/navigation.html.twig' with {'project': project, 'current': 'project_transcriptions'} %}

  <style>
  {{ project.css ?  project.css | raw : ''}}
  </style>

  <div id="main-container">
    {# ACTION MENU #}
    <div class="row">
      <div class="col">
        <a href="{{ path('project_transcriptions', {id: project.id, parent: media.parent ? media.parent.id : null})}}" data-toggle="tooltip" title="{{'back_to_transcripts' | trans}}">
          <i class="fa fa-arrow-left fa-fw"></i>
        </a>
        {{'reread_transcription'|trans}} <span class="text-muted">{{media.name}}</span>
      </div>
      <div class="col text-right">
        <span class="badge badge-info">
          {{'transcription_current_nb_validations' | trans({'%1%': nbCurrentValidation, '%2%': project.nbValidation})}}
        </span>
        <button class="btn btn-link btn-save-transcription" data-id="{{media.id}}" data-toggle="tooltip" title="{{'save' | trans}}">
          <i class="fas fa-save"></i>
        </button>
        <span data-toggle="tooltip" title="{{'validate_transcription' | trans}}">
          <button data-toggle="modal" data-target="#validation-modal" class="btn btn-link" >
            <i class="fas fa-thumbs-up"></i>
          </button>
        </span>
      </div>
    </div>
    <hr/>

    {# OSD + EDITOR #}
    <div class="row">
      <div class="col-6">
        {{ include('media/openseadragon.html.twig') }}
      </div>
      <div class="col-6">
        {{ include('media/tei-editor.html.twig', { 'media': media }) }}
      </div>
    </div>
  </div>

  {# MODAL WITH REVIEW FORM #}
  {{ include('review/form.html.twig') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var mode = 'validation';
  </script>
  <script src="{{ asset('build/js/transcription.js') }}"></script>
{% endblock %}
