{% extends "base.html.twig" %}

{% import "media/macros.html.twig" as macros %}

{% block body %}
  <div class="page-content-container">
    <div class="row">
      <div class="col-10">
        <h4><a href="{{ path("project_display", {'id': media.project.id} )}}">{{media.project.name}}</a> - {{'transcript_media' | trans}} {{media.name}}</h4>
      </div>
      <div class="col-2 text-right">
        {% if edit %}
          <div class="btn-group">
            <button class="btn btn-link btn-save-transcription" data-id="{{media.id}}" data-toggle="tooltip" title="{{'save' | trans}}"><i class="fas fa-save"></i></button>
            <button class="btn btn-link btn-finish-transcription" data-pid="{{media.project.id}}" data-id="{{media.id}}" data-toggle="tooltip" title="{{'transcription_send_to_validation' | trans}}" type="button" name="button"><i class="fas fa-check-circle"></i></button>
          </div>
        {% elseif locked %}
          <h5><span class="badge badge-danger">{{'transcription_is_locked' | trans}}</span></h5>
        {% endif %}
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-6">
        <img class="img-fluid" src="{{ macros.mediaURL(media) }}" alt="">
      </div>
      <div class="col-6">
        {% if edit %}
          <textarea class="tinymce-transcription" id="tiny-content" name="transcription-content" rows="8" cols="80">
            {{media.transcription.content | raw}}
          </textarea>
        {% else %}
          <div class="">
            {{media.transcription.content | raw}}
          </div>
        {% endif %}
      </div>
    </div>
  </div>


  {# media modal #}
  <div class="modal fade project-media-modal" id="project-media-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

  {# hidden log inputs #}
  {% if edit %}
    <input type="hidden" id="log-id" name="log_id" value="{{log.id}}">
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/transcription.js') }}"></script>
{% endblock %}
