{% extends "base.html.twig" %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/project-media.css') }}">
{% endblock %}

{% block body %}
{% include 'project/navigation.html.twig' with {'subtitle': 'project_transcript'} %}

<div id="main-container">
  {{ include('media/media-list-partial.html.twig', { 'project': project }) }}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/project-media.js') }}"></script>
{% endblock %}
