{% extends "base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/css/intro.css') }}" />
{% endblock %}

{% import "media/macros.html.twig" as macros %}

{% block body %}
  {% include 'project/navigation.html.twig' with {'project': media.project, 'current': 'project_transcriptions'} %}

  <style>
  {{ media.project.css ?  media.project.css | raw : ''}}
  </style>
  <div id="main-container">
    <div class="row">
      <div class="col">
        <a href="{{ path('project_transcriptions', {id: media.project.id, parent: media.parent ? media.parent.id : null})}}" data-toggle="tooltip" title="{{'back_to_transcripts' | trans}}">
          <i class="fa fa-arrow-left fa-fw"></i>
        </a>
        {{ 'transcript_media'|trans }} <span class="text-muted">{{media.name}}</span>
      </div>
      <div class="col text-right">
        {% if edit %}
          <div class="btn-group">
            <span data-intro="{{'help6'|trans}}" data-step="6">
              <button class="btn btn-link btn-save-transcription" data-id="{{media.id}}" data-toggle="tooltip" title="{{'save' | trans}}">
                <i class="fas fa-save"></i>
              </button>
              <button class="btn btn-link btn-finish-transcription" data-pid="{{media.project.id}}" data-id="{{media.id}}" data-toggle="tooltip" title="{{'transcription_send_to_validation' | trans}}" type="button" name="button">
                <i class="fas fa-check-circle"></i>
              </button>
            </span>
            <span data-intro="{{'help7'|trans}}" data-step="7" data-toggle="tooltip" title="{{'help'|trans}}">
              <button class="btn btn-link" data-toggle="modal" data-target="#help-modal" type="button">
                <i class="fas fa-question-circle"></i>
              </button>
            </span>
          </div>
        {% elseif locked %}
          <h5>
            <span class="badge badge-danger">{{'transcription_is_locked' | trans}}</span>
          </h5>
        {% endif %}

        {% if media.project | isAuthorizedOnProject('register') %}
          <a href="{{ path('status_request', {id:  media.project.id})}}" data-toggle="tooltip" title="{{'project_register' | trans}}">
            <i class="fas fa-hand-holding-heart fa-fw" aria-hidden="true"></i>
          </a>
        {% endif %}
      </div>
    </div>
    <hr/>
    <div class="row">
      <div data-intro="{{'help1'|trans}}" data-step="1" class="col">
        <div class="openseadragon-buttons text-center">
          <button id="osd-zoom-in" type="button" class="btn btn-light">
            <i class="fas fa-search-plus"></i>
          </button>
          <button id="osd-zoom-out" type="button" class="btn btn-light">
            <i class="fas fa-search-minus"></i>
          </button>
          <button id="osd-home" type="button" class="btn btn-light">
            <i class="fas fa-home"></i>
          </button>
          <button id="osd-full-page" type="button" class="btn btn-light">
            <i class="fas fa-expand-arrows-alt"></i>
          </button>
          <button id="osd-left" type="button" class="btn btn-light">
            <i class="fas fa-undo"></i>
          </button>
          <button id="osd-right" type="button" class="btn btn-light">
            <i class="fas fa-redo"></i>
          </button>
        </div>
        <div data-url="{{ macros.mediaURL(media) }}" id="seadragon-viewer" class="rounded"></div>
      </div>
      <div data-intro="{{'help2'|trans}}" data-step="2" class="col-7">
        {% if edit %}
          {{ include('media/tei-editor.html.twig', { 'media': media }) }}
      {% else %}
        <div id="transcription-container">
          {{media.transcription.content | raw}}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{# media modal #}
<div class="modal fade project-media-modal" id="project-media-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>

{# media modal #}
<div class="modal fade help-modal" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body text-center">
        <div class="row">
          <div class="col">
            <h4>
              <i class="fas fa-book"></i> {{'transcript_help'|trans}}
            </h4>
            {% if media.project.projectHelpLink %}
            <a class="btn btn-sm btn-secondary {{ media.project.projectHelpLink ? "disabled" : ""}}" href="{{media.project.projectHelpLink}}" target="_blank">
              {{'transcript_help_doc'|trans}}
            </a>
            {% else %}
              <span class="text-muted">{{'transcript_help_doc_undefined'|trans}}</span>
            {% endif %}
          </div>
          <div class="col">
            <h4><i class="fas fa-magic"></i> {{"tutorial"|trans}}</h4>
            <a id="start-tutorial" class="btn btn-sm btn-secondary" href="{{media.project.projectHelpLink}}" target="_blank" data-dismiss="modal">
              Activer le tutoriel
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# hidden inputs... #}
{% if edit %}
  <input type="hidden" id="log-id" name="log_id" value="{{log.id}}">
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  var mode = {{ edit ? '"edit"': '"view"' }};
</script>
<script src="{{ asset('build/js/openseadragon.js') }}"></script>
<script src="{{ asset('build/js/transcription.js') }}"></script>
{% endblock %}
