{% extends "base.html.twig" %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/project-media.css') }}">
{% endblock %}

{% block body %}
<div class="page-content-container">
  <div class="row">
    <div class="col-12">
      <h4><a href="{{ path("project_display", {'id': project.id} )}}">{{project.name}}</a> - {{'transcriptions_page_title' | trans}}</h4>
      <hr/>
    </div>
  </div>
  {{ include('media/media-list-partial.html.twig', { 'project': project }) }}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/project-media.js') }}"></script>
{% endblock %}
