{% if project | isAuthorizedOnProject('transcribe') %}
<a class="btn btn-outline-secondary btn-sm" data-toggle="modal" href="#create-comment" role="button" aria-expanded="false" aria-controls="create-comment">
  <i class="fas fa-plus"></i>
  {{"comment_create"|trans}}
</a>
  {% if app.user not in transcription.subscribersUsers %}
  <a class="btn btn-outline-secondary btn-sm" href="{{ path('comment_subscribe', {'id': transcription.id, 'subscribe': 1}) }}" role="button">
    <i class="fas fa-comments"></i>
    {{"comment_subscribe"|trans}}
  </a>
  {% else %}
  <a class="btn btn-outline-secondary btn-sm" href="{{ path('comment_subscribe', {'id': transcription.id, 'subscribe': 0}) }}" role="button">
    <i class="fas fa-times-circle"></i>
    {{"comment_unsubscribe"|trans}}
  </a>
  {% endif %}

{% endif %}

<ul class="list-group pt-3">
{% set canDelete =  (project | isAuthorizedOnProject('deleteComment')) ? true : false %}
{% for comment in comments %}
  <li class="list-group-item">
    {{ comment.content }}
    <span class="float-right">
      <small>
      {{ comment.createdAt|date("d/m/Y H:i") }} - <a target="_blank" href="{{ path('user_profile', {'id': comment.user.id}) }}">{{ comment.user.username }}</a>
      {% if canDelete %}
      -
      <a data-toggle="tooltip" data-title="{{'comment_delete'|trans}}" href="{{ path('comment_delete', {'id': comment.id}) }}">
        <i class="fas fa-trash-alt"></i>
      </a>
      {% endif %}
      </small>
    </span>
  </li>
{% endfor %}
</ul>
