

{% extends "emails/master.html.twig" %}
{% trans_default_domain 'emails' %}
{% block body %}
  <p> {{'email_welcome_user' | trans({'%1%':user.lastname , '%2%':user.firstname }) }}</p>
  <p>{{'email_registration_you_just_subscribed' | trans}}</p>
  <p>
    {{'email_registration_activate' | trans}}
  </p>
  <p><a href="{{url}}">{{'email_registration_activate_link' | trans}}</a></p>
{% endblock %}
