{% extends "emails/master.html.twig" %}
{% trans_default_domain 'emails' %}
{% block body %}
  <p>{{'email_hello_user' | trans({'%1%': user.lastname, '%2%': user.firstname}) }}</p>
  <p>{{'email_new_password_request_1' | trans }}</p>
  <p>
  {{'email_new_password_request_2' | trans }}
  </p>
  <p>
  {{'email_new_password_request_3' | trans }}
  </p>

  <p><a href="{{url}}">{{'email_new_password_activate_link' | trans }}</a></p>
{% endblock %}
