{% extends "emails/master.html.twig" %}

{% block body %}
  <p>{{'email_hello_user' | trans({'%1%': user.lastname, '%2%': user.firstname}) }}</p>
  <p>{{'email_transcription_1' | trans}}</p>
  {% if valid %}
  <p>{{'email_transcription_2' | trans}}</p>
  {% else %}
    <p>{{'email_transcription_3' | trans}}</p>
    <p>{{'email_transcription_4' | trans}}</p>

    <p><a href="{{url}}">{{'email_transcription_link' | trans}}</a></p>
  {% endif %}

  {% if comment %}
    <p>
    {{comment}}
    </p>
  {% endif %}
{% endblock %}
