{% extends "base.html.twig" %}

{% import _self as formMacros %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/create-project.css') }}">
{% endblock %}

{% block body %}

{% if project.id %}
  {% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}
{% else %}
  {% include 'header.html.twig' with {'title': 'project_create'} %}
{% endif %}

<div id="main-container">
  {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.public) }}
    {{ form_row(form.catchPhrase) }}
    {% if project.id is null %}
      {{ form_row(form.manager) }}
    {% endif %}
    {{ form_row(form.projectHelpLink) }}
    {{ form_row(form.nbValidation) }}
    {{ form_row(form.hasScheme) }}
    {{ form_row(form.css) }}
    {{ form_row(form.image) }}

    {% if project.image %}
    <div class="row project-image-row">
      <div class="col">
        <img width=100% class="project-image-md" src="{{ asset('project_files/'~ project.id ~ '/' ~ project.image) }}">
        <input type="hidden" name="previous_image" value="{{ project.image }}" />
      </div>
      <div class="col">
        <button data-project-id="{{ project.id }}" id="delete-image" type="button" role="button" class="btn btn-danger">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    {% endif %}

    {{ form_widget(form._token) }}
    {{ form_row(form.save) }}
  </form>

  {% if  project.id %}
  <div class="float-right">
    <form name="deleteProject" action="{{ path("project_delete", {'id': project.id} )}}" method="POST">
      <button class="btn btn-sm btn-danger" type="submit">
        <i class="fas fa-trash"></i> {{'project_delete' | trans}}
      </button>
    </form>
  </div>
{% endif %}
</div>


{# delete project confirm modal #}
<div class="modal fade delete-project-confirm-modal" id="deleteProjectConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProjectConfirmModalLabel">{{'confirm_title'| trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>{{'confirm_project_deletion' | trans}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
        <button type="button" data-action="confirm" data-dismiss="modal" class="btn btn-danger delete-project-confirm-button">{{'confirm' | trans}}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/create-project.js') }}"></script>
{% endblock %}
