{% extends "base.html.twig" %}

{% import _self as formMacros %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/create-project.css') }}">
{% endblock %}

{% block body %}
<h3>
  {% if  project.id %}
    <a href="{{ path("project_display", {'id': project.id} )}}">{{ project.name }}</a>
    - {{ "project_edit"|trans }}
  {% else %}
    {{ "project_create"|trans }}
  {% endif %}
  <hr/>
</h3>

{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  {{ form_row(form.status) }}
  {{ form_row(form.public) }}
  {% if is_granted('ROLE_ADMIN') %}
    {{ form_label(form.userStatuses) }}
    <a id="add-user-status" class="btn btn-sm btn-secondary" href="#">
      <i class="fas fa-plus" aria-hidden="true"></i> {{"add_user-status"|trans}}
    </a>
    <div class="form-group">
      <div class="userstatuses row" data-prototype="{{ formMacros.userStatusesRow(form.userStatuses.vars.prototype)|e('html_attr') }}">
        {% for userStatus in form.userStatuses %}
          {{ formMacros.userStatusesRow(userStatus) }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {{ form_widget(form._token) }}

  {{ form_row(form.save) }}
{% endblock %}

{% macro userStatusesRow(form) %}
  <div class="col-3 userstatus-container">
    <span class="btn btn-sm btn-danger pull-right remove-userstatus">
      <i class="fas fa-trash" aria-hidden="true"></i>
    </span>
    <br/>
    {{ form_row(form.status) }}
    {{ form_row(form.user) }}
  </div>
{% endmacro %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/create-project.js') }}"></script>
{% endblock %}
