{% extends "base.html.twig" %}

{% import "user/macros.html.twig" as macros %}

{% block body %}
  {% set userStatus = app.user|status(project) %}

  {% include 'project/navigation.html.twig' with {'current': ''} %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active {{ project.image ? "carousel-custom" }}" style="{{ project.image ? 'background-image: url(' ~ asset('project_files/'~project.id~'/'~project.image) ~ ')' }}">
      </div>
    </div>
  </div>
  <div id="catchphrase-container">
    <span id="catchphrase">{{ project.catchPhrase }}</span>
  </div>
  <div id="main-container">
    <div class="row">
      <div class="col">
        {% if not project.archived %}
        <div class="alert alert-info" role="alert">
          {% if not app.user %}
            {{ "login_or_register_link"|trans({'%login%': path('user_login'), '%register%':path('user_login')  }) | raw }}
          {% else %}
              {% if not userStatus %}
                {{ "project_register_link"| trans({'%register%': path('status_request', {id: project.id}) }) | raw }}
              {% else %}
                  {% if not userStatus.enabled %}
                    {{"registration_waiting_for_validation"|trans}}
                  {% else %}
                    {{"transcribe_link"| trans({'%transcribe%': path('project_transcriptions', {id: project.id})}) | raw }}
                  {% endif %}
              {% endif %}
          {% endif %}
        </div>
        {% endif %}
        {{ project.description | raw }}
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-chart-bar"></i> {{'project_data'|trans}}
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">
               {{ project.public ? 'is_public'|trans : 'project_is_not_public'|trans}}
             </li>
             <li class="list-group-item">
               {{"project_media_count"|trans({'%count%': project.medias|length})}}
             </li>
             <li class="list-group-item">
               {% include 'project/progressbar.html.twig' with {'project': project} %}
            </li>
            <li class="list-group-item">
              {% include('transcribe/contributors.html.twig') %}
            </li>
          </ul>
        </div>

        {% if project | isAuthorizedOnProject('validateTranscription') %}
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            {% if project | isAuthorizedOnProject('editProject') %}
              <li class="list-group-item">
                <a href="{{ path('project_display_logs', {'id': project.id}) }}">{{"events"|trans}}</a>
              </li>
            {% endif %}
            {% if userStatus %}
            <li class="list-group-item text-justify">
              {% if userStatus.subscribe == true %}
                {{"subscribed"|trans}} <a href='{{ path('status_subscribe_toggle', {'id': project.id}) }}'>{{"unsubscribe"|trans}}</a>
              {% else %}
                {{"unsubscribed"|trans}} <a href='{{ path('status_subscribe_toggle', {'id': project.id}) }}'>{{"subscribe"|trans}}</a>
              {% endif %}
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
