{% extends "base.html.twig" %}
{% block body %}

  <a href="{{ path("project_edit", {id: project.id})}}" type="button" class="btn btn-secondary">
    <i class="fa fa-pencil" aria-hidden="true"></i> Editer
  </a>

  <hr/>

  <ul class="list-group">
    <li class="list-group-item list-group-item-secondary">{{ project.name }}</li>
    <li class="list-group-item">{{ project.description ? project.description | raw : "-"}}</li>
    <li class="list-group-item">{{ project.shortDescription | raw }}</li>
    <li class="list-group-item">{{ project.status ? project.status.name : "-"}}</li>
  </ul>

  <hr/>

  <ul class="list-group">
    <li class="list-group-item list-group-item-secondary">Project user status</li>
  {% for userStatus in project.userStatuses %}
    <li class="list-group-item">{{ userStatus.user.username }} - {{ userStatus.status.name }}</li>
  {% endfor %}
  </ul>

{% endblock %}
