{% extends "base.html.twig" %}

{% import "user/macros.html.twig" as macros %}

{% block body %}
  {% set userStatus = app.user|status(project) %}

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active {{ project.image ? "carousel-custom" }}" style="{{ project.image ? 'background-image: url(' ~ asset('project_files/'~project.id~'/'~project.image) ~ ')' }}">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgba(255, 255, 255, 0.7)">
          <a class="navbar-brand" href="#">{{ project.name }}</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
              {% if project | isAuthorizedOnProject('transcribe') %}
                <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"transcribe_long"|trans}}">
                  {{'project_transcript'|trans }}
                </a>
              {% elseif project | isAuthorizedOnProject('viewTranscriptions') %}
                <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"view_transcriptions_long"|trans}}">
                  {{'project_view_transciptions'|trans }}
                </a>
              {% endif %}
              {% if project | isAuthorizedOnProject('editProject') %}
                <a href="{{ path('project_edit', {id: project.id}) }}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"edit_project_long"|trans}}">
                  {{'project_edit' | trans}}
                </a>
              {% endif %}
              {% if project | isAuthorizedOnProject('manageMedia') %}
                <a href="{{ path('project_media', {id: project.id}) }}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"manage_media_long"|trans}}">
                  {{'project_manage_media' | trans}}
                </a>
              {% endif %}
              {% if project | isAuthorizedOnProject('manageUser') %}
                <a href="{{ path('status_project', {id: project.id}) }}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"manage_user_statuses_long"|trans}}">
                  {{'project_manage_user_statuses' | trans}}
                </a>
              {% endif %}
            </ul>
          </div>
        </nav>

        <h1 id="catchphrase">
          {{ project.catchPhrase }}
        </h1>

        {% if project | isAuthorizedOnProject('register') %}
        <span id="register-container">
          <a href="{{ path('status_request', {id: project.id})}}" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="{{"subscribe_long"|trans}}">
            {{'project_register' | trans}}
          </a>
        </span>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="page-content-container">
    <div class="row">
      <div class="col">
        <p>
          {% if userStatus %}
          <span class="badge badge-info">
            {{ userStatus.status.name | trans({}, 'fixtures') }} {{ not userStatus.enabled ? 'not_enabled_yet' | trans}}
          </span>
          {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
          <span class="badge badge-success">
            {{"app_admin"|trans}}
          </span>
          {% endif %}

          {% if not project.public %}
            <span class="badge badge-danger">
              {{'project_is_not_public' | trans}}
            </span>
          {% endif %}
        </p>
        {{ project.description | raw }}
      </div>
    </div>
  </div>

{% endblock %}
