{% extends "base.html.twig" %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/project-media.css') }}">
{% endblock %}
{% import _self as macros %}

{% block body %}
  {% set userStatus = app.user|status(project) %}

  <div class="row">
    <div class="col-10">
      <h3>{{ project.name }}</h3>
    </div>
    <div class="col-2 text-right">
      {% if userStatus %}
        <span class="badge badge-info">
          {{ userStatus.status.name | trans({}, 'fixtures') }} {{ not userStatus.enabled ? 'not_enabled_yet' | trans}}
        </span>
      {% endif %}
    </div>
  </div>

  <div class="btn group">
    {% if project | isAuthorizedOnProject('editProject') %}
    <a href="{{ path("project_edit", {id: project.id})}}" type="button" class="btn btn-link">
      <i class="fas fa-pencil-alt" aria-hidden="true"></i> {{'edit' | trans}}
    </a>
      {% endif %}
    {% if project | isAuthorizedOnProject('manageMedia') %}
    <a href="{{ path("project_media", {id: project.id})}}" type="button" class="btn btn-link">
      <i class="fas fa-image" aria-hidden="true"></i> {{ 'project_manage_media' | trans}}
    </a>
    {% endif %}
    {% if project | isAuthorizedOnProject('manageUser') %}
    <a href="{{ path('status_project', {id: project.id})}}" type="button" class="btn btn-link">
      <i class="fas fa-users" aria-hidden="true"></i> {{ 'project_handle_user_statuses' | trans}}
    </a>
    {% endif %}
    {% if project | isAuthorizedOnProject('register') %}
    <a href="{{ path('status_request', {id: project.id})}}" type="button" class="btn btn-link">
      <i class="fas fa-hand-holding-heart"></i> {{ 'project_register' | trans}}
    </a>
    {% endif %}
  </div>

  <ul class="list-group">
    <li class="list-group-item">{{"project_description"|trans}}: {{ project.description ? project.description | raw : "-"}}</li>
    <li class="list-group-item">{{"project_short_description"|trans}}: {{ project.shortDescription | raw }}</li>
    <li class="list-group-item">{{"project_status"|trans}}: {{ project.status ? project.status.name | trans({}, 'fixtures') : "-"}}</li>
    <li class="list-group-item">{{"is_public"|trans}}: {{ project.public ? 'yes' | trans : 'no' | trans }}</li>
  </ul>

  <hr/>

  {{ include('media/media-list-partial.html.twig', { 'project': project }) }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/project-media.js') }}"></script>
{% endblock %}
