{% extends "base.html.twig" %}

{% import "user/macros.html.twig" as macros %}

{% block body %}
  {% set userStatus = app.user|status(project) %}

  {% include 'project/navigation.html.twig' with {'current': ''} %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active {{ project.image ? "carousel-custom" }}" style="{{ project.image ? 'background-image: url(' ~ asset('project_files/'~project.id~'/'~project.image) ~ ')' }}">
      </div>
    </div>
  </div>
  <div id="catchphrase-container">
    <span id="catchphrase">{{ project.catchPhrase }}</span>
  </div>
  <div id="main-container">
    <div class="row">
      <div class="col">
        <p>
          {% if userStatus %}
          <span class="badge badge-secondary">
            {{ userStatus.status.name | trans }} {{ not userStatus.enabled ? 'not_enabled_yet' | trans}}
          </span>
          {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
          <span class="badge badge-secondary">
            {{"app_admin"|trans}}
          </span>
          {% endif %}
        </p>
        {{ project.description | raw }}
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-chart-bar"></i> {{'project_data'|trans}}
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">
               {{ project.public ? 'is_public'|trans : 'project_is_not_public'|trans}}
             </li>
             <li class="list-group-item">
               {{"project_media_count"|trans({'%count%': project.medias|length})}}
             </li>
             <li class="list-group-item">
               {% include 'project/progressbar.html.twig' with {'project': project} %}
            </li>
            <li class="list-group-item">
              {% include('transcribe/contributors.html.twig') %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
