{% extends "base.html.twig" %}

{% block body %}
  {% include 'project/navigation.html.twig' with {'current': 'project_export'} %}
  <div id="main-container">
    <h5>{{"export_form_title"|trans}}</h5>
      {{ form_start(form) }}
      {{ form_widget(form._token) }}
      {{ form_row(form.transcriptions) }}
      <div class="ml-4">
        {{ form_row(form.transcriptions_apply_xsl) }}
        {{ form_row(form.transcriptions_metadatas) }}
      </div>
      {{ form_end(form) }}
      {{ form_row(form.save) }}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/submit-disable.js') }}"></script>
{% endblock %}
