<div class="modal fade help-modal" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="row">
          <div class="col">
            <h4>
              <i class="fas fa-book"></i> {{'transcript_help'|trans}}
            </h4>
            {% if project.projectHelpLink %}
            <a class="btn btn-sm btn-secondary" href="{{ project.projectHelpLink }}" target="_blank">
              {{'transcript_help_doc'|trans}}
            </a>
            {% else %}
              <span class="text-muted">{{'transcript_help_doc_undefined'|trans}}</span>
            {% endif %}
          </div>
          <div class="col">
            <h4><i class="fas fa-magic"></i> {{"tutorial"|trans}}</h4>
            <a id="start-tutorial" class="btn btn-sm btn-secondary" href="#" data-dismiss="modal">
              {{'tutorial_enable'|trans}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
