{% macro displayProject(project) %}
  {% import _self as macros %}
  {% set userStatus = app.user|status(project) %}
  <article class="project-card">
      <div class="project-thumbnail-wrap">
        <a href="{{ path("project_display", {'id': project.id} )}}">
          <img width="100%" src="{{ project.image ? asset('project_files/'~project.id~'/'~project.image) : asset('img/project-placeholder.png') }}" class="article-thumbnail wp-post-image"  loading="lazy"/>
        </a>
      </div>
      <div class="project-content">
        {% if project.archived == false %}
        <header class="project-meta">
          <div class="project-tags">
            {{ project.public ? 'is_public'|trans : 'project_is_not_public'|trans}}
          </div>
        </header>
        {% endif %}
        <a class="project-title" href="{{ path("project_display", {'id': project.id} )}}">
          {{ project.name }}
        </a>
        {% if project.archived == false %}
        {% set percents = project|percents %}
        <div class="project-stats">
          {{ macros.displayPercents(percents) }}
        </div>
        {% endif %}
      </div>
  </article>
{% endmacro %}

{% macro displayPercents(percents) %}
  {% set validated = percents[0]|round %}
  {% set progressPercent = percents[1]|round %}
  {% set inReview =  percents[2]|round %}
  {% set noTranscription =  percents[3]|round %}
  <div class="progress">
    {% if noTranscription > 0 %}
    <div data-toggle="tooltip" title="{{"transcription_status_none"|trans}}" class="progress-bar bg-danger" role="progressbar" style="width: {{ noTranscription }}%;">
      {{ noTranscription }}%
    </div>
    {% endif %}
    {% if progressPercent > 0 %}
    <div data-toggle="tooltip" title="{{"transcription_status_in_progress"|trans}}" class="progress-bar bg-warning" role="progressbar" style="width: {{ progressPercent }}%;">
      {{ progressPercent }}%
    </div>
    {% endif %}
    {% if inReview > 0 %}
    <div data-toggle="tooltip" title="{{"transcription_status_in_reread"|trans}}" class="progress-bar bg-info" role="progressbar" style="width: {{ inReview }}%;">
      {{ inReview }}%
    </div>
    {% endif %}
    {% if validated > 0 %}
    <div data-toggle="tooltip" title="{{"transcription_status_validated"|trans}}" class="progress-bar bg-success" role="progressbar" style="width: {{ validated }}%;">
      {{ validated }}%
    </div>
    {% endif %}
  </div>
{% endmacro %}
