{% import _self as macros %}

{% macro addActiveClass(current, tested ) %}
   {{ current == tested ? "active" : "" }}
{% endmacro %}

<nav id="secondary-nav" class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="{{ path("project_display", {'id': project.id}) }}">
    {{ project.name | truncate(60, false) }}
  </a>
  <span class="navbar-brand text-muted">{% if subtitle is defined %}({{ subtitle|trans }}){% endif %}</span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      {% if project.projectHelpLink %}
        <a href="{{ project.projectHelpLink }}" class="nav-link" target="_blank" data-toggle="tooltip" data-placement="bottom" title="{{"transcript_help_doc"|trans}}">
          {{'help'|trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('transcribe') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link {{macros.addActiveClass(current, "project_transcriptions")}}" data-toggle="tooltip" data-placement="top" title="{{"transcribe_long"|trans}}">
          {{'project_transcript'|trans }}
        </a>
      {% elseif project | isAuthorizedOnProject('viewTranscriptions') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link {{macros.addActiveClass(current, "project_transcriptions")}}" data-toggle="tooltip" data-placement="top" title="{{"view_transcriptions_long"|trans}}">
          {{'project_view_transciptions'|trans }}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('editProject') %}
        <a href="{{ path('project_edit', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "project_edit")}}" data-toggle="tooltip" data-placement="top" title="{{"edit_project_long"|trans}}">
          {{'edit' | trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('manageMedia') %}
        <a href="{{ path('project_media', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "project_media")}}" data-toggle="tooltip" data-placement="top" title="{{"manage_media_long"|trans}}">
          {{'medias' | trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('manageUser') %}
        <a href="{{ path('status_project', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "status_project")}}" data-toggle="tooltip" data-placement="top" title="{{"manage_user_statuses_long"|trans}}">
          {{'users' | trans}}
        </a>
      {% endif %}
    </ul>
  </div>
</nav>
