<nav id="project-nav" class="navbar navbar-expand-lg navbar-light" style="background-color:rgba(211, 211, 211, 0.7)">
  <a class="navbar-brand" href="{{ path("project_display", {'id': project.id} )}}">
    {{ project.name }}
  </a>
  <span class="navbar-brand text-muted">{% if subtitle is defined %}({{ subtitle|trans }}){% endif %}</span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      {% if project | isAuthorizedOnProject('transcribe') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"transcribe_long"|trans}}">
          {{'project_transcript'|trans }}
        </a>
      {% elseif project | isAuthorizedOnProject('viewTranscriptions') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"view_transcriptions_long"|trans}}">
          {{'project_view_transciptions'|trans }}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('editProject') %}
        <a href="{{ path('project_edit', {id: project.id}) }}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"edit_project_long"|trans}}">
          {{'project_edit' | trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('manageMedia') %}
        <a href="{{ path('project_media', {id: project.id}) }}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"manage_media_long"|trans}}">
          {{'project_manage_media' | trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('manageUser') %}
        <a href="{{ path('status_project', {id: project.id}) }}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"manage_user_statuses_long"|trans}}">
          {{'project_manage_user_statuses' | trans}}
        </a>
      {% endif %}
    </ul>
  </div>
</nav>
