{% import _self as macros %}

{% macro addActiveClass(current, tested ) %}
   {{ current == tested ? "active" : "" }}
{% endmacro %}

<nav id="secondary-nav" class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="{{ path("project_display", {'id': project.id}) }}">
    {{ project.name }}
  </a>
  <span class="navbar-brand text-muted">{% if subtitle is defined %}({{ subtitle|trans }}){% endif %}</span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      {% if project | isAuthorizedOnProject('register') %}
        <a href="{{ path('status_request', {id: project.id})}}" class="nav-link text-dark" data-toggle="tooltip" data-placement="top" title="{{"subscribe_long"|trans}}">
          <mark class="rounded">
            <i class="fas fa-hands-helping"></i> {{'project_register' | trans}}
          </mark>
        </a>
      {% endif %}

      <a data-intro="{{'help13'|trans}}" data-step="13" download href="{{asset('platform/manuel_contributeur.pdf')}}" class="nav-link" >
        <i class="fas fa-book-open"></i> {{"contributor_guide"|trans}}
      </a>

      {% if project | isAuthorizedOnProject('transcribe') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link {{macros.addActiveClass(current, "project_transcriptions")}}" data-toggle="tooltip" data-placement="top" title="{{"transcribe_long"|trans}}">
          {{'project_transcript'|trans }}
        </a>
      {% elseif project | isAuthorizedOnProject('viewTranscriptions') %}
        <a href="{{ path('project_transcriptions', {id: project.id})}}" class="nav-link {{macros.addActiveClass(current, "project_transcriptions")}}" data-toggle="tooltip" data-placement="top" title="{{"view_transcriptions_long"|trans}}">
          {{'project_view_transciptions'|trans }}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('editProject') %}
        <a href="{{ path('project_edit_choice', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "project_edit")}}" data-toggle="tooltip" data-placement="top" title="{{"edit_project_long"|trans}}">
          {{'edit' | trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('manageMedia') %}
        <a href="{{ path('project_media', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "project_media")}}" data-toggle="tooltip" data-placement="top" title="{{"manage_media_long"|trans}}">
          {{'medias' | trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('manageUser') %}
        <a href="{{ path('status_project', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "status_project")}}" data-toggle="tooltip" data-placement="top" title="{{"manage_user_statuses_long"|trans}}">
          {{'users' | trans}}
        </a>
      {% endif %}
      {% if project | isAuthorizedOnProject('editProject') %}
        <a href="{{ path('project_export', {id: project.id}) }}" class="nav-link {{macros.addActiveClass(current, "project_export")}}" data-toggle="tooltip" data-placement="top" title="{{"export_project_long"|trans}}">
          {{'export' | trans}}
        </a>
      {% endif %}
      {% if is_granted('ROLE_ADMIN', app.user) %}
        <a href="{{ path('project_archived_toggle', {id: project.id}) }}" class="nav-link" data-toggle="tooltip" data-placement="top" title="{{"project_archive_long"|trans}}">
          {{ project.archived ? 'project_unarchive'|trans : 'project_archive'|trans}}
        </a>
      {% endif %}
    </ul>
  </div>
</nav>
