{% set percent = project|percents %}

{% set validated = percent[0]|round %}
{% set progressPercent = percent[1]|round %}
{% set inReview =  percent[2]|round %}
{% set noTranscription =  percent[3]|round %}
<div class="progress">
  <div data-toggle="tooltip" title="{{"transcription_status_none"|trans}}" class="progress-bar bg-danger" role="progressbar" style="width: {{ noTranscription }}%;">
  {{ noTranscription }}%
  </div>
  <div data-toggle="tooltip" title="{{"transcription_status_in_progress"|trans}}" class="progress-bar bg-warning" role="progressbar" style="width: {{ progressPercent }}%;">
  {{ progressPercent }}%
  </div>
  <div data-toggle="tooltip" title="{{"transcription_status_in_reread"|trans}}" class="progress-bar bg-info" role="progressbar" style="width: {{ inReview }}%;">
  {{ inReview }}%
  </div>
  <div data-toggle="tooltip" title="{{"transcription_status_validated"|trans}}" class="progress-bar bg-success" role="progressbar" style="width: {{ validated }}%;">
  {{ validated }}%
</div>
</div>
