{% extends "base.html.twig" %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/project-media.css') }}">
{% endblock %}

{% block body %}
<div class="page-content-container">
  <div class="row">
    <div class="col-12">
      <h4><a href="{{ path("project_display", {'id': project.id} )}}">{{project.name}}</a> - {{'project_media_title' | trans}}</h4>
      <hr/>
    </div>
  </div>
  {% if project | isAuthorizedOnProject('manageMedia') %}
  <div class="row">
    <div class="col-12">
        <div class="alert alert-info">
          <h6>{{'max_file_uploads_message' | trans({'%nb_max%': fileLimit})}} - <span id="nb-media-selected">0</span> {{'selected_media' | trans}} </h6>      
        </div>
        {{ form_start(form) }}
          {{ form_row(form.files) }}
          {{ form_row(form.save) }}
        {{ form_end(form) }}
      <hr/>
    </div>
  </div>
  {% endif %}
  {{ include('media/media-list-partial.html.twig', { 'project': project }) }}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/project-media.js') }}"></script>
{% endblock %}
