{% extends "base.html.twig" %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/project-media.css') }}">
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h4><a href="{{ path("project_display", {'id': project.id} )}}">{{project.name}}</a> - {{'project_media_title' | trans}}</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="alert alert-info">{{'max_file_uploads_message' | trans}} - {{fileLimit}}</div>
        {{ form_start(form) }}
          {{ form_row(form.files) }}
          {{ form_row(form.save) }}
        {{ form_end(form) }}
      <hr/>
    </div>
  </div>
  {{ include('media/media-list-partial.html.twig', { 'project': project }) }}




{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/project-media.js') }}"></script>
{% endblock %}
