{% extends "base.html.twig" %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/project-media.css') }}">
{% endblock %}

{% block body %}

{% include 'project/navigation.html.twig' with {'current': 'project_media'} %}

<div id="main-container">
  {% if project | isAuthorizedOnProject('manageMedia') %}
    <div class="card media-upload-card">
      <div class="card-header">
        <div class="row">
          <div class="col" data-toggle="collapse" data-target="#upload-form">
            <span class="btn btn-secondary">
              <i class="fas fa-plus"></i>
              {{'project_media_add_file_title' | trans}}
            </span>
          </div>
        </div>
      </div>
      <div id="upload-form" class="collapse card-body">
          {{ form_start(form) }}
            <div class="alert alert-info">
                {{'media_upload_help' | trans}}
            </div>
            <div class="form-group row col">
              <label class="col-3 col-form-label">{{'project_media_file_type' | trans}}</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input radio-file-type" name="file-type" type="radio" id="inlineCheckbox1" checked value="images">
                <label class="form-check-label" for="inlineCheckbox1">{{'project_media_file_type_images' | trans}}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input radio-file-type" name="file-type" type="radio" id="inlineCheckbox2" value="zip">
                <label class="form-check-label" for="inlineCheckbox2">{{'project_media_file_type_zip' | trans}}</label>
              </div>
            </div>
            {# file(s) upload form #}
            {{ form_row(form.images) }}
              <div class="max-file-upload-msg">
                <small class="form-text text-muted max-file-upload-alert"><i class="fas fa-exclamation-triangle fa-fw"></i>{{'max_file_uploads_message' | trans({'%nb_max%': fileLimit})}} - <span id="nb-media-selected">0</span> {{'selected_media' | trans}}</small>
              </div>
            {{ form_row(form.zip) }}
            {{ form_row(form.save) }}
          {{ form_end(form) }}
      </div>
    </div>
  {% endif %}
  {{ include('media/media-list-manage-partial.html.twig', { 'project': project }) }}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/project-media.js') }}"></script>
{% endblock %}
