<div>
  {{"have_contributed"|trans}} ({{contributors|length}}): <br/>
  {% for i, contributor in contributors %}
    {% if contributor.image %}
      {% set imgUrl = 'user_images/' ~ contributor.image  %}
      <img class="border border-dark rounded-circle" src="{{asset(imgUrl)}}" height="20px" width="20px">
    {% else %}
      {% set imgUrl = 'img/avatar-placeholder_640.png' %}
    {% endif %}
    <span
      role="button"
      data-trigger="focus"
      data-toggle="popover"
      data-html="true"
      tabindex="-1"
      data-placement="bottom"
      data-content="
        <div>
          <a target='_blank' href='{{path('user_profile', {id: contributor.id})}}'>
            Profil
          </a>
          {% if app.user != contributor %}
          -
          <a target='_blank' href='{{path('user_message', {id: contributor.id})}}'>
            Message
          </a>
          {% endif %}
        </div>
        <img height=150 src='{{asset(imgUrl)}}' />
      ">
      {{ contributor.username }}
    </span>
  <span class="text-muted">-</span>
  {% endfor %}
</div>
