<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target=".modal-illustration">{{'display_illustration'|trans}}</button>
<div class="modal fade modal-illustration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content text-center">
        <div class="alert alert-info m-3 p-3 mx-auto" role="alert"></p>
          <p>Les exemples ci-dessous illustrent le étapes d'une transcription
          <div class="list-group list-group-horizontal text-center">
            <li class="list-group-item"><i class="fas fa-book-open"></i> Média</li>
            <li class="list-group-item"><i class="fas fa-keyboard"></i> Transcription brute</li>
            <li class="list-group-item"><i class="fas fa-code"></i> Balisage TEI</li>
            <li class="list-group-item"><i class="fab fa-wpexplorer"></i> Preview</li>
          </div>
        </div>
        <div class="container border">
           <div class="row">
              <div class="col-2">

              </div>
              <div class="col-10">
              </div>
           </div>
        </div>
      <table class="table table-borderless border-top border-bottom">
        <tr>
          <td class="col-1">
            <i class="fas fa-book-open fa-3x"></i>
          </td>
          <td class="col-10 fa-3x">
              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"media"|trans}}" src="{{ asset('img/exampleTrscr/a_1.PNG') }}"/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <i class="fas fa-keyboard fa-3x"></i>
          </td>
          <td class="col-10">
              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"transcript_media"|trans}}" src="{{ asset('img/exampleTrscr/a_2.PNG') }}"/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <i class="fas fa-code fa-3x"></i>
          </td>
          <td class="col-10">

              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"markup"|trans}}" src="{{ asset('img/exampleTrscr/a_3.PNG') }}"/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <i class="fab fa-wpexplorer fa-3x"></i>
          </td>
          <td class="col-10">
              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"preview"|trans}}" src="{{ asset('img/exampleTrscr/a_4.PNG') }}"/>
          </td>
        </tr>
      </table>
      <table class="table table-borderless border-top border-bottom">
        <tr>
          <td class="col-1">
            <i class="fas fa-book-open fa-3x"></i>
          </td>
          <td class="col-10">
              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"media"|trans}}" src="{{ asset('img/exampleTrscr/c_1.PNG') }}"/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <i class="fas fa-keyboard fa-3x"></i>
          </td>
          <td class="col-10">
              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"transcript_media"|trans}}" src="{{ asset('img/exampleTrscr/c_2.PNG') }}"/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <i class="fas fa-code fa-3x"></i>
          </td>
          <td class="col-10">

              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"markup"|trans}}" src="{{ asset('img/exampleTrscr/c_3.PNG') }}"/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <i class="fab fa-wpexplorer fa-3x"></i>
          </td>
          <td class="col-10">

              <img class="illustration-tr w-75" data-toggle="tooltip" title="{{"preview"|trans}}" src="{{ asset('img/exampleTrscr/c_4.PNG') }}"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
