{% import _self as macros %}
{% set elements = ['a', 'c'] %}

<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal-illustration">{{'display_illustration'|trans}}</button>

<div class="modal fade" id="modal-illustration" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content text-center">
        <div class="alert alert-info m-3 p-3 mx-auto" role="alert"></p>
          <p>Les exemples ci-dessous illustrent le étapes d'une transcription
          <div class="list-group list-group-horizontal text-center">
            <li class="list-group-item"><i class="fas fa-book-open"></i> Média</li>
            <li class="list-group-item"><i class="fas fa-keyboard"></i> Transcription brute</li>
            <li class="list-group-item"><i class="fas fa-code"></i> Balisage TEI</li>
            <li class="list-group-item"><i class="fab fa-wpexplorer"></i> Preview</li>
          </div>
        </div>
        <table class="table table-borderless border-top border-bottom text-center">
        {% for element in elements %}
          {{ macros.tutorialElement(element) }}
        {% endfor %}
        </table>
    </div>
  </div>
</div>

{% macro tutorialElement(id) %}
  <tr class="table-info">
    <td class="col-1">
    </td>
    <td class="col-11">
    </td>
  </tr>
  <tr>
    <td class="col-1 align-middle">
      <i class="fas fa-book-open fa-3x"></i>
    </td>
    <td class="col-11">
      <img class="illustration-tr w-100" data-toggle="tooltip" title="{{"media"|trans}}" src="{{ asset('img/exampleTrscr/'~id~'_1.PNG') }}"/>
    </td>
  </tr>
  <tr>
    <td class="col-1 align-middle">
      <i class="fas fa-keyboard fa-3x"></i>
    </td>
    <td class="col-11">
      <img class="illustration-tr w-100" data-toggle="tooltip" title="{{"transcript_media"|trans}}" src="{{ asset('img/exampleTrscr/'~id~'_2.PNG') }}"/>
    </td>
  </tr>
  <tr>
    <td class="col-1 align-middle">
      <i class="fas fa-code fa-3x"></i>
    </td>
    <td class="col-11">
      <img class="illustration-tr w-100" data-toggle="tooltip" title="{{"markup"|trans}}" src="{{ asset('img/exampleTrscr/'~id~'_3.PNG') }}"/>
    </td>
  </tr>
  <tr>
    <td class="col-1 align-middle">
      <i class="fab fa-wpexplorer fa-3x"></i>
    </td>
    <td class="col-11">
      <img class="illustration-tr w-100" data-toggle="tooltip" title="{{"preview"|trans}}" src="{{ asset('img/exampleTrscr/'~id~'_4.PNG') }}"/>
    </td>
  </tr>
{% endmacro %}
