<footer id="footer" class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">{{"backtotop"|trans}}</a> <br/>
      <a href="{{ path('terms') }}">{{"terms"|trans}}</a> <br/>
    </p>
    <p>
      <a class="btn" href="https://europa.eu/european-union/index_fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Union Européenne" src="{{ asset('img/logos/logo-ue.png') }}"/>
      </a>
      <a class="btn" href="https://erc.europa.eu" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="ERC - Conseil de la recherche européenne : financeur principal" src="{{ asset('img/logos/logo-erc.png') }}"/>
      </a>
      <a class="btn" href="https://rirra21.www.univ-montp3.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Laboratoire du RIRRA 21" src="{{ asset('img/logos/logo-rir.png') }}"/>
      </a>
      <a class="btn" href="https://www.univ-montp3.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Université Paul Valéry Montpellier 3 - université d'accueil" src="{{ asset('img/logos/logo-upvm.png') }}"/>
      </a>
      <a class="btn" target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/litt-arts-arts-et-pratiques-du-texte-de-l-image-de-l-ecran-et-de-la-scene-62796.kjsp">
        <img class="logo-bottom" data-toggle="tooltip" title="Litt&Arts (UMR 5316) - Arts et pratiques du texte, de l'image, de l'écran et de la scène" src="{{ asset('img/logos/logo_littarts.png') }}"/>
      </a>
      <a class="btn" href="https://intactile.com" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Intactile - prestataire" src="{{ asset('img/logos/logo-intactile.png') }}"/>
      </a>
      <a class="btn" href="https://www.huma-num.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Huma-Num - Hébergeur" src="{{ asset('img/logos/logo_hn.jpg') }}"/>
      </a>
    </p>
  </div>
</footer>
