<footer id="footer" class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">{{"backtotop"|trans}}</a> <br/>
      <a href="{{ path('terms') }}">{{"terms"|trans}}</a> <br/>
    </p>
    <p>
      <a class="btn" href=" http://univ-grenoble-alpes.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Université Grenoble Alpes" src="{{ asset('img/logos/logo_univ_grenoble_alpes.jpg') }}"/>
      </a>
      <a class="btn" href="http://www.cnrs.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="CNRS Centre national de la recherche scientifique" src="{{ asset('img/logos/logo_cnrs.jpg') }}"/>
      </a>
      <a class="btn" target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/litt-arts-arts-et-pratiques-du-texte-de-l-image-de-l-ecran-et-de-la-scene-62796.kjsp">
        <img class="logo-bottom" data-toggle="tooltip" title="Litt&Arts (UMR 5316) - Arts et pratiques du texte, de l'image, de l'écran et de la scène" src="{{ asset('img/logos/logo_littarts.png') }}"/>
      </a>
      <a class="btn" href="https://demarreshs.hypotheses.org/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="DémarreSHS!" src="{{ asset('img/logos/logo_demarre_shs.jpg') }}"/>
      </a>
      <a class="btn" href="https://www.huma-num.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Huma-Num - Hébergeur" src="{{ asset('img/logos/logo_hn.jpg') }}"/>
      </a>
      <a class="btn" href="https://www.elan-numerique.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="ELAN - Equipe Littérature et Arts Numériques" src="{{ asset('img/logos/logo_elan.png') }}"/>
      </a>
    </p>
  </div>
</footer>
